@media screen and (max-width: 576px) {
  #container {
    font-size: 24px;
    line-height: 1.5;
    margin: 24px 36px;
    color: #A54533;
    background-color: #FDE5E6;
    border: 3px solid #A54533;
    padding: 16px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  #container {
    font-size: 26px;
    line-height: 1.5;
    margin: 24px 36px;
    color: #70FF74;
    background-color: #934745;
    border: 3px solid #70FF74;
    padding: 16px;
  }
}

@media screen and (min-width: 769px) {
  #container {
    font-size: 28px;
    line-height: 1.5;
    margin: 24px 36px;
    color: #285087;
    background-color: #FFD891;
    border: 3px solid #285087;
    padding: 16px;
  }
}
